<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASK MANAGEMENT</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Task Lists</h1>
  <ul>
    <% taskLists.forEach(taskList => { %>
      <li>
        <%= taskList.notes %>
        <a href="/delete/<%= taskList._id %>">Delete</a>
      </li>
    <% }); %>
  </ul>
  <a href="/add">Add Task</a>
</body>
</html>
